<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="navbar-nav me-auto mb-2 mb-lg-0">
                    {{#if session.loggedIn}}
                    <li class="nav-item">
                        <a href="/cart" class="nav-link active">Cart 
                        {{#if session.cart.totalQuantity}}
                            <span class="badge bg-dark"> {{session.cart.totalQuantity}}</span>
                        {{/if}}
                        </a>
                    </li>
                        <button type="button" id="logout-btn" class="btn btn-small btn-outline-danger mx-2">Log out</button>                    
                    {{else}}
                    <li class="nav-item">
                        <a href="/login" class="nav-link active">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="/register" class="nav-link active">Register</a>
                    </li>
                    {{/if}}
                </li>
            </ul>
        </div>
    </nav>
