{{> nav-bar}}
{{> home-header}}

<section class="row justify-content-center mx-5">
        <div class="container text-center bg-dark col-6">
            <h2 class="text-secondary p-2 mt-2">Our Purpose</h2>
            <p class="text-light p-2"> Shopping for fine art has never been easier.
                 We bring the full gallery experience to the comfort of your home. 
            </p>   
            <h2 class="text-secondary p-2">Getting Started</h2>

            <p class="text-light p-2">
                Create your account before browsing through our collection,
                selecting your favourite items and checking out.
             </p>
        </div>
</section>