{{> nav-bar}}
{{> home-header}}


<div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-9 col-lg-6 col-xl-5 mb-4">
          <img src="/images/gallery.png"
            class="img-fluid" alt="Image of art gallery">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <h3>Log in</h3>
          <div class="alert alert-danger visually-hidden" id="error-message" role="alert">
              The email or password you have entered is incorrect.
          </div>
          <form class="login-form">
  
            <!-- Email input -->
            <div class="form-outline mb-2 validator">
              <input type="email" id="login-email" class="form-control form-control-lg"
                placeholder="Enter a valid email address" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/>
              <label class="form-label" for="login-email">Email address</label>
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-2">
              <input type="password" id="login-password" class="form-control form-control-lg"
                placeholder="Enter password" />
              <label class="form-label" for="login-password">Password</label>
            </div>
  
            <div class="text-center text-lg-start mt-2 pt-2">
              <button type="submit" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
            </div>
          </form>
              <p class="small fw-bold mt-2 pt-1 mb-2">Don't have an account? <a href="/register"
                  class="link-danger">Register</a></p>
        </div>
      </div>
    </div>
    
</div>

{{> footer}}


<script src="/js/login.js"> </script>