{{> nav-bar}}
{{> home-header}}


<section class="row justify-content-center mx-5">

  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img
          src="/images/gallery2.png"
          class="img-fluid"
          alt="Black and white art gallery"
        />
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

        <div class="alert alert-danger visually-hidden" id="error-message" role="alert">
          Your password must be 8 or more characters.
        </div>

        <form class="signup-form">
          <!-- Email input -->

          <div class="form-outline mb-2">
            <label class="form-label" for="first-name-input">First Name</label>
            <input
              type="text"
              id="first-name-input"
              class="form-control form-control-lg"
              placeholder="Enter your first name"
            />
          </div>

          <div class="form-outline mb-2">
            <label class="form-label" for="last-name-input">Last Name</label>
            <input
              type="text"
              id="last-name-input"
              class="form-control form-control-lg"
              placeholder="Enter your last name"
            />
          </div>

          <div class="form-outline mb-2">
            <label class="form-label" for="adress-input">Address</label>
            <input
              type="text"
              id="address-input"
              class="form-control form-control-lg"
              placeholder="Enter your address"
            />
          </div>

          <div class="form-outline validator mb-2">
            <label class="form-label" for="email-input">Email address</label>
            <input
              type="email"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
              id="email-input"
              class="form-control form-control-lg"
              placeholder="Enter a valid email address"
            />
          </div>

          <!-- Password input -->
          <div class="form-outline mb-2">
            <label class="form-label" for="password-input">Password</label>
            <input
              type="password"
              id="password-input"
              class="form-control form-control-lg"
              placeholder="Enter password"
            />
          </div>

          <div class="text-center text-lg-start mt-2 pt-2">
            <button
              type="submit"
              class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;"
            >Register</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>

<script src="/js/signup.js"> </script>