{{> nav-bar}}

<header class="bg-dark py-4 mb-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder text-gradient">Thank you for your purchase!</h1>
            <p class="lead fw-normal text-white-50 mb-0">We will be in contact with you shortly.</p>
        </div>
    </div>
</header>

{{> footer}}
